www/vendor/*
www/composer.phar
www/silex.log
.idea
nbproject/*
www/cache/*
www/config/settings.yml
.vagrant

app/node_modules/*
app/config/settings.js
app/public/bower_components/*
app/public/javascripts/.module-cache/*
