extends layout

block content
  h1= title
  div(id='tweets')

  script(src='/socket.io/socket.io.js', type='text/javascript')
  script(src='/bower_components/react/react.js', type='text/javascript')
  script(src='/bower_components/react/JSXTransformer.js', type='text/javascript')
  script(src='/javascripts/tweet.js', type='text/jsx')

